language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
# command to install dependencies
install: 
    - "pip install -r .travis_requirements.txt"
    - "pip install -e ."
# command to run tests
script: py.test --cov src/automate/ tests/
after_success: coveralls
