include LICENCE.txt
include tests/*.py

include *.in
include *.txt

recursive-include src/automate/extensions/webui/static *.*
recursive-include src/automate/extensions/webui/djangoapp/templates *.html

recursive-exclude docs *
recursive-exclude examples *
recursive-exclude more_examples *
