# automate core
ansiconv
colorlog
croniter~=0.3.0
ipython
pyinotify
traits~=4.6
raven
requests

#arduino:
pyfirmata

#rpio:
RPIO

#webui
Django
django-crispy-forms
#whitenoise

#wsgi
tornado

# testing
pytest
pytest-pycharm
pytest-cov

# apps
psutil