ansiconv
colorlog
croniter~=0.3
future
ipython
pyinotify
pytest
pytest-capturelog
pytest-xdist
pytest-pycharm
traits~=4.6

#arduino:
pyfirmata

#rpc:
# -

#rpio:
RPIO

#webui
Django~=1.11
django-crispy-forms~=1.6

#wsgi
tornado~=4.5