ansiconv==1.0.0
-e git+ssh://git@github.com/tuomas2/automate.git@eecfc352b45908a0f4fd2a008934560da809d371#egg=automate
certifi==2017.7.27.1
chardet==3.0.4
colorlog==3.1.0
coverage==4.4.1
croniter==0.3.19
decorator==4.1.2
Django==1.11.6
django-crispy-forms==1.6.1
idna==2.6
iniconfig==2.1.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
packaging==25.0
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
pluggy==1.5.0
prompt-toolkit==1.0.15
psutil==5.3.1
ptyprocess==0.5.2
py==1.11.0
pyFirmata==1.0.3
Pygments==2.2.0
pyinotify==0.9.6
pyserial==3.4
pytest==7.4.3
pytest-cov==2.5.1
pytest-pycharm==0.4.0
python-dateutil==2.6.1
pytz==2017.2
raven==6.2.1
requests==2.18.4
RPIO==0.10.0
setuptools==80.3.1
simplegeneric==0.8.1
six==1.11.0
tornado==4.5.2
traitlets==4.3.2
traits==7.0.2
traits-stubs==6.4.0
urllib3==1.22
wcwidth==0.1.7
