ansiconv==1.0.0
asttokens==3.0.0
-e git+ssh://git@github.com/tuomas2/automate.git@26d73a920680be8019bfa02778fd2f77ec95c058#egg=automate
certifi==2025.4.26
charset-normalizer==3.4.2
colorlog==6.9.0
croniter==0.3.37
decorator==5.2.1
executing==2.2.0
idna==3.10
iniconfig==2.1.0
ipython==9.2.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
natsort==8.4.0
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
pyFirmata==1.1.0
Pygments==2.19.1
pyinotify==0.9.6
pyserial==3.5
pytest==8.3.5
python-dateutil==2.9.0.post0
raven==6.10.0
requests==2.32.3
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
traits==7.0.2
urllib3==2.4.0
wcwidth==0.2.13
