{% extends "base.html" %}
{% load automate_tags %}
{% block content %}
  {% block info %}
    <h1>Tag {{ tag }}</h1><br>
  {% endblock %}

  <div class="row">
    <div class="col-md-12 object_list_column">
      <div class="group_content">
        {% for obj in objs %}
          {% if obj.object_type == 'sensor' or obj.object_type == 'actuator' %}
            {% include 'rows/statusobject_row.html' with object=obj %}
          {% elif obj.object_type == 'program' %}
            {% include 'rows/statusobject_row.html' with object=obj %}
          {% else %}
            {% include 'rows/general_row.html' with object=obj %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

