-e https://github.com/tuomas2/automate-arduino.git
-e https://github.com/tuomas2/automate-rpio.git
-e https://github.com/tuomas2/automate-wsgi.git
-e https://github.com/tuomas2/automate-webui.git
-e https://github.com/tuomas2/automate-rpc.git
