-e git://github.com/tuomas2/automate-arduino.git@master#egg=automate-arduino
-e git://github.com/tuomas2/automate-rpio.git@master#egg=automate-rpio
-e git://github.com/tuomas2/automate-wsgi.git@master#egg=automate-wsgi
-e git://github.com/tuomas2/automate-webui.git@master#egg=automate-webui
-e git://github.com/tuomas2/automate-rpc.git@master#egg=automate-rpc
