{% load automate_tags %}
{% load crispy_forms_tags %}
<div class="row object_row" data-name="{{object.name}}">
  <div class='col-xs-3'>
    <a class="request_panel" data-target="info" {% row_attrs object.name %}>
    <i class="icon-button fa fa-info-circle"></i>
    </a>
    <a class="request_panel" data-target="graph" {% row_attrs object.name %}>
    <i class="icon-button fa fa-line-chart"></i>
    </a>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-12">
        {{ object.name }}
        {% if groupview %}
          ({{ object.class_name }})
        {% endif %}

      </div>
      <div class='col-xs-12 edit_area object_status_column'>
        {% if programlist %}
          {% program_active object %}
        {% elif object.user_editable and object.data_type %}
          {% if object.data_type == 'bool' %}
            <a class="btn btn-default mytoggle" href="{% url 'toggle_sensor' object.name %}?source={{ source }}"
               data-name="{{ object.name }}" data-status="{{ object.status }}">
              {% object_status object %}
            </a>
          {% else %}
            {% sensor_form object as form %}
            {% crispy form %}
          {% endif %}
        {% else %}
          {% object_status object %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class='collapse-graph-{{object.name}} row collapse'>
  <div class="panel-body info_panel">
    <div class="panel">
      <div class="panel panel-warning">
        <div class="panel-heading">
        Graph
        </div>
        <div class="panel-body">
          <div class="graph-{{object.name}} graph-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='collapse-info-{{object.name}} row collapse'></div>
